# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
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
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

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